$base_color: #3A5F56;
$second_color: #292C32;

@font-face{
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: 'Source Serif';
    src: url(../font/SourceSerif-Regular.ttf);
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input {
    all: unset;
  }

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.btn{
    color: #fff;
    background-color: $base_color;
    border-radius: 6px;
    padding: 10px 18px;
}

.header{
    &__wrap{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__box{
        display: flex;
    }

    &__nav{
        display: flex;
    }

    &__ul{
        display: flex;
        align-items: center;
    }

    &__menu{
        display: flex;
    }

    &__link{
        color: $base_color;
        font-size: 16px;

        &:hover{
            color: red
        }
    }

    &__items{
        display: flex;
    }

    &_item{
        margin-right: 30px;
    }

    &__cart{
        display: flex;
        gap: 8px;
        &::before{
            content: '';
            background: url(../img/cart.svg);
            display: block;
            width: 17px;
            height: 17px;
        }
        &::after{
            content: "0";
            color: $base_color;    
            background-color: #fff;
            border-radius: 19px;
            text-align: center;
            width: 17px;
            height: 17px;
            font-size: 14px
        }
    }
}

.main{
    background: url(../img/Frame.svg) no-repeat center center / cover;
    padding: 100px 0;
    
    &__wrap{
        display: flex;
        gap: 64px;
        align-items: center;
    }

    &__title{
        color: $base_color;
        font-size: 48px;
        margin-bottom: 15px;
    }

    &__text{
        color: $base_color;
        font-size: 16px;
        margin-bottom: 27px;
    }
}

.services{
    padding: 100px 0;

    &__title{
        &_wave{
            display: flex;
            padding-top: 100px;
            align-items: center;
            margin: 0 auto;
        }

        margin-top: 15px;
        color: $base_color;
        font-size: 32px;
        margin-bottom: 11px;
        text-align: center;
    }

    &__text{
        color: $second_color;
        font-size: 16px;
        max-width: 590px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 17px;
        padding-bottom: 17px;

        &_center{
            text-align: center;
            padding-bottom: 17px;
        }
    }

    &__row{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        gap: 16px;
        padding-bottom: 100px;
    }

    &_card{
        max-width: 380px;
        border-radius: 16px;
        background-color: #F4F3F0;
        padding: 30px;
    }

    &__icon{
        width: 48px;
        height: 48px;
        margin-bottom: 9px;
    }

    &__subtitle{
        color: $base_color;
        font-size: 24px;
        margin-bottom: 6px;
        padding-bottom: 17px;

    }

    &_text{
        padding-bottom: 17px;
    }

    &__read{
        margin-top: 17px;
        color: $base_color;
        font-size: 17px;
        align-items: center;
        gap: 5px;
        
        &:hover{
            color: red
        }
    }
}

.preset{
    background-color: #F4F3F0;

    &__title{
        &_wave{
            display: flex;
            padding-top: 100px;
            align-items: center;
            margin: 0 auto;
        }

        font-family: 'Source Serif', sans-serif;
        margin-top: 15px;
        color: $base_color;
        font-size: 32px;
        margin-bottom: 11px;
        text-align: center;
        color: #DB343B;
    }

    &__text{
        color: $second_color;
        font-size: 16px;
        max-width: 590px;
        text-align: center;
        margin: 0 auto;
        color: $second_color;
    }

    &__cards{
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        gap: 16px;
        padding-bottom: 100px;
        font-family: 'Roboto', sans-serif;

        &_btn{
            padding-top: 29px;
            display: flex;
            margin: 0 auto;
            color: $base_color;
            gap: 5px;

            &_text{
                color: $base_color;
            }
        }
    }

    &__card1{
        width: 380px;
        height: 438px;
        border-radius: 16px;
        background-color: #fff;
        background-image: url(../img/vol1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 30px;
        color: $base_color;

        &_title{
            font-family: 'Source Serif', sans-serif;
            font-size: 24px;
            padding-top: 258px
        }

        &_text{
            padding-top: 10px;
        }
    }

    &__card2{
        width: 380px;
        height: 438px;
        border-radius: 16px;
        background-color: #fff;
        background-image: url(../img/vol2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 30px;
        color: $base_color;

        &_title{
            font-family: 'Source Serif', sans-serif;
            font-size: 24px;
            padding-top: 258px
        }

        &_text{
            padding-top: 10px;
        }
    }

    &__card3{
        width: 380px;
        height: 438px;
        border-radius: 16px;
        background-color: #fff;
        background-image: url(../img/vol3.svg);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 30px;
        color: $base_color;

        &_title{
            font-family: 'Source Serif', sans-serif;
            font-size: 24px;
            padding-top: 258px
        }

        &_text{
            padding-top: 10px;
        }
    }
}

.together{
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__block{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 80px;
        background-color: #F4F3F0;
        border-radius: 16px;
        width: 800px;

        &_text{
            font-size: 28px;
            color: $base_color;
        }

        &_btn{
            background-color: $base_color;
            margin: auto 0;
            padding: 15px 25px;
            border-radius: 6px;
            font-size: 20px;
            color: #fff;
        }
    }
}

.podval{
    background-color: $second_color;
    padding: 99px 136px;

    &__logo{
        display: block;
        margin: 0 auto;
    }
    
    
    &__block{
        padding-top: 75px;
        display: block;
    }
    
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 140px;
    }

    &__title{
        font-size: 14px;
        padding-bottom: 12px;
        text-transform: uppercase;
        color: #B87D58;
    }
    
    &__links{
        display: flex;
        flex-direction: column;
        gap: 11px;
        font-size: 14px;
        color: #fff;
    }

    
    &__email{
        margin-top: 20px;

        &_input{
            padding: 15px 25px;
            background-color: #fff;
            border-radius: 8px;
            color: #000;

        }

        &_btn{
            margin-left: 20px;
            background-color: #3f3f3f;
            padding: 15px 25px;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    &__copyright{
        margin-top: 50px;
        color: #fff;
        font-size: 16px;
        margin-bottom: -70px;
    }
}